body {
	font-family: Trebuchet MS, sans-serif;
	background-color: #FFF0F5;
}


h1{color:#191970;
}
h2{color:#000080;
}
h3{color: #473C8B
}

body  {background-color #ADD8E6;
}


a:link{text-decoration:none;
}
a:hover {color: #FF4040;
}


.titulo {color: #191970;
}
.titulo { font-weight: lighter; 
}

.titulo a{text-decoration:none
}


.perfil{
	background-color: #B0E0E6;
	color: #191970;
	padding: 10%
	
}
.perfil img { width: 200px;
			float: left;
			padding: 20px;


}

.forma img { width: 150px;
			float: left;
			padding-right: 20px;
}

#Contato a:link {color:#191970;}
#Contato a:visited {color: #191970;}
#Contato a:hover {color: #191970;}

.fundo-roxo {
	background-color: #D8BFD8;
	padding: 1em;
	margin: 1em;
	margin-top: 0,5em;
}

.fundo-azul {
	background-color: #B0E0E6;
	padding: 1em;
	margin: 1em;
	margin-top: 0,5em;
}

.fundo-roxo2 {
	background-color:#D8BFD8;
	padding: 1em;
	margin: 1em;
	margin-top: 0,5em;
}
.fundo-azul2 {
	background-color:#E6E6FA
 ;
	padding: 1em;
	margin: 1em;
	margin-top: 0,5em;
}
.trabalho {
	color: #191970;
	text-align: justify;
}

.ham img { width: 150px;
	border-radius: 8px;
}

.ham {background-color: #D8BFD8;
	padding: 1em;
	margin: 1em;
	text-align: justify;
}

section h1 {font-size: 1.7em;

}

section h2 {font-size: 1.5em;

}

section h3 {font-size: 1.1em;

}

.apre { font-size: 2.2em;
		font-weight: lighter;
		padding: 0,5em 1em;

}

header p { display: inline-block;
		   border-bottom: 1px solid #ccc;
		   padding-top: 1em;
		   padding-bottom:1em;
		   margin-left: 3em;

}

#Contato p {
		   display: inline-block;
		   padding: 20px;
}
.central{ text-align: center;
}


section {padding-top: 0,5em;
		padding-bottom: 0,5em;
		margin-bottom: 0,2em;
}


.container {
	padding-left: 10%;
	padding-right: 10%;

}

.topo { 
		width: 1000px;
  		height: 200px;
 
 } 

.apre {text-align: center;}

footer {
	padding-bottom: 1em;
	padding-top: 1em;
}

.grid1 {
		display: grid;
		grid-template-columns: 2fr 2fr;
		grid-gap: 8px;
}

.grid2 {
		display: grid;
		grid-template-columns: 2fr 2fr;
		grid-gap: 8px;
		
}


.center { margin: auto;
}

.trampo {width: 300px;
		padding-right: 20px;
  		border-radius: 50%;
}

.trampo2 {width: 200px;
		padding-right: 50px;
}


}
.flex {
	display: flex;
	margin: 0 auto;
}

 .redondo {border-radius:200%

 }
 .redondo2 { border-radius: 200px;

 }

.redondo3 { border-radius: 100px;
			padding: 10%

 }

.redondo4 { border-radius: 100px;
			padding: 5%

 }

 .reco img { width: 1000px;
			 height:200px;   
			 		
}

.conteudo {
	width:1000px;
	height:405px;
	border:10px solid #999;
	background:#7FFFD4;
	margin: 0 auto;

	}

.moldura-dois {
	width: 1100px; 
	border:8px inset #5f6632;
	padding:150px;
	background: #b1b1c3;
	}

.moldura-um {
	width: 1150px; /*404+8+8(bordas)+15+15(paddings)*/
	border:20px inset #5d738b;
	padding:25px;
	background:#DCDCDC;
	}
*/
				